<h1>{{title}}</h1>
<nav>
  <a class="button" routerLink="/dashboard" routerLinkActive="activebutton">Dashboard</a>
  <a class="button" routerLink="/superheroes" routerLinkActive="activebutton">Heroes</a>
  <a class="button" routerLink="/crisis-center" routerLinkActive="activebutton">Crisis Center</a>
  <a class="button" routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a>
  <a class="button" [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
  <a class="button" routerLink="/formly-form">Formly form</a>
  <a class="button" routerLink="/change-detection">Change Detection</a>

</nav>
<div [@routeAnimation]="getAnimationData()">
  <router-outlet></router-outlet>
</div>
<router-outlet name="popup"></router-outlet>

<!--  <app-messages></app-messages>-->
