<div *ngIf="hero; else elseBlock">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div>id: {{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">

    <label for="hero-power">Hero power: </label>
    <input id="hero-power" [(ngModel)]="hero.power" placeholder="power">

<!--    <div>power: {{hero.power ? hero.power : 'no power'}}</div>-->
    <button type="button" (click)="save(hero)">save</button>
  </div>
</div>

<ng-template #elseBlock>
  <h2>Hero is not found</h2>
</ng-template>

<button type="button" (click)="goBack()">go back</button>
